#ifndef secrets_h
#define secrets_h

#define SSID                    "Omega-82BB"
#define PASSWORD                "12345678"

#define IP_ADDR                 IPAddress(192, 168, 69, 240)
#define GATEWAY                 IPAddress(192, 168, 69, 69)
#define SUBNET                  IPAddress(255, 255, 255, 0)

#define TIME_BETWEEN_RESETS_MS  hours { 1 }

#define MQTT_SERVER             "192.168.69.69"

#define OUT_TOPIC               "/growlab/outTopic"
#define IN_TOPIC                "/growlab/inTopic"

#endif
